.collageContainer{
    background-color: #F5F2EE;
    position: fixed;

    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.canvas{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color:hotpink; */
    z-index: 2;

}