@font-face{
    font-family: "Favorit";
    font-style: normal;
    src: url("../content/fonts/Favorit-Regular.woff") format("woff"), url("../content/fonts/Favorit-Regular.woff2") format("woff2");
  }

  @font-face{
    font-family: "Favorit Liner";
    font-style:normal;
    src: url("../content/fonts/Favorit-Regular_Lining.woff") format("woff"), url("../content/fonts/Favorit-Regular_Lining.woff2") format("woff2");
  }

