html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
}

h1, h2{
  font-size: 24px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

p{
  font-size: 24px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
