@import url(fonts.css);

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Favorit', Times, serif;
}

h1, h2{
  font-size: 24px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  font-style: normal;

}

p{
  font-size: 20px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button{
  border: none;
  background: none;
  text-decoration: none;

  font-family: 'Favorit', sans-serif;

  padding: 2px 0;

  border-bottom: 1px solid transparent;
  transition: all 0.15s ease;

  z-index: 1000;
}

button:hover{
  color: #F1985D;
  border-bottom: 2px solid #F1985D;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
