
.contentContainer{
  height: 100vh;
  width: 100vw;
  padding: 60px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  color: #313056;
}

.name{
  text-decoration: underline;
}

.title{
  text-decoration: underline;
}


.topInfo{
  position: relative;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* TODO: MAKE A PADDING GLOBAL */
}


.callOut{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 700px;
  text-align: center;
}

.callOut p{
  font-size: 50px;
}

.play{
  font-size: 24px;
}

.link{
  background-color: #B6FF18;
  text-decoration: underline;
  display: inline-block;
  padding: 0 15px;
  border-radius: 100px;
}

.callOut, .footer, .topInfo{
  z-index : 3;
}


.button{
  font-size: 20px;
}

@media (max-width: 600px){

  .contentContainer{
    padding: 20px;
  }
  .button{
    font-size: 14px;
  }
  .callOut p{
    font-size: 30px;
    line-height: 50px;
  }
}
