
.contentContainer{
  height: 100vh;
  width: 100vw;
  padding: 60px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  color: #313056;
}

.name{
  /*  */
  font-family:'Favorit Liner', sans-serif;
}

.title{
  font-family:'Favorit Liner', sans-serif;
}


.topInfo{
  position: relative;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  /* TODO: MAKE A PADDING GLOBAL */
}

.play{
  font-size: 24px;
}


.callOut{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 750px;
  text-align: center;
}

.callOut p{
  font-size: 50px;
  mix-blend-mode: difference;
}

.link{
  background-color: #B6FF18;
  font-family:'Favorit Liner', sans-serif;
  display: inline-block;
  padding: 5px 20px;
  margin-left: 10px;
  border-radius: 100px;

  transition: all 0.2s ease;
}

.link:hover{
  background-color: #F1985D;
  color: #000;
}

a.linkWrap{
  border-bottom: none;
}

.eyes{
  display: inline-block;

}

.flipEyes{
  display: inline-block;
  transform: scale(-1, 1);
}

.callOut, .footer, .topInfo{
  z-index : 3;
}


.button{
  font-size: 20px;

}

.mobileOnly{
  display:none
}

@media (max-width: 700px){

  .contentContainer{
    padding: 24px;
  }
  .button{
    font-size: 14px;
  }
  .callOut p{
    font-size: 28px;
  }

  .callOut{
    width: 316px;
  }

  .desktopOnly{
    display:none
  }

  .mobileOnly{
    display: inline-block;
    font-size: 24px;
  }

  .name{
    max-width: 80px;
  }

  .title{
    max-width: 100px;
    text-align: right;
  }

  .link{
    padding: 3px 12px;
    margin-left: 3px;
  }
  .topInfo{
    align-items: center;
  }

  .topInfo .mobileOnly{
    font-size: 20px;
  }


}
