
.contentContainer{
  height: 100vh;
  width: 100vw;
  padding: 60px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  color: #000;
}

.name{
  /*  */
  font-family:'Favorit Liner', sans-serif;
  cursor: default;
}

.title{
  font-family:'Favorit Liner', sans-serif;
  cursor: default;
}


.topInfo{
  position: relative;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.playParagraph{
  position: relative;
  left: 18px;
}

.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  /* TODO: MAKE A PADDING GLOBAL */
}

.mail{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.wave{
  margin-left: 5px;
  position: relative;
  top: -1px
}

.play{
  font-size: 24px;
  cursor: default;
}

.callOut{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 750px;
  text-align: center;
  cursor: default;
}

.callOut p{
  font-size: 50px;
  mix-blend-mode: difference;
}


.beenText{
  margin-right: 7px;
}

.link{
  font-family:'Favorit Liner', sans-serif;
  display: inline-block;

  transition: all 0.2s ease;
  cursor: pointer;
}

a.linkWrap{
  border-bottom: none;
  background-color: #B6FF18;

  padding: 2px 20px 2px 20px;
  margin-left: 10px;
  border-radius: 100px;
  position: relative;
  top: 3px;
}

.linkWrap:hover{
  background-color: #F1985D;
  color: #000;
}

.link{
  position: relative;
  top: -3px;
}


.eyes{
  display: inline-block;

}

.flipEyes{
  display: inline-block;
  transform: scale(-1, 1);
}

.callOut, .footer, .topInfo{
  z-index : 3;
}


.button{
  font-size: 20px;
  cursor: pointer;
  position: relative;
  left: -35px;
  border-bottom:  2px solid transparent;
}

.mobileOnly{
  display:none
}

@media(max-width: 850px){
  .desktopOnly{
    display:none
  }

  .mobileOnly{
    display: inline-block;
    font-size: 24px;
  }
  
}

@media (max-width: 700px){

  .contentContainer{
    padding: 24px;
    max-height: calc(100vh - 100px);
  }
  .button{
    font-size: 14px;
  }
  .callOut p{
    font-size: 28px;
  }

  .callOut{
    width: 356px;
    text-align: center;
  }

  .singleLine{
    justify-content: center;
  }

  .name{
    max-width: 80px;
  }

  .title{
    max-width: 100px;
    text-align: right;
  }

  .beenText{
    margin-right: 5px;
  }

  .singleLine{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
  }

  a.linkWrap{
    padding: 2px 12px 2px 12px;
    margin-left: 5px;
    top: 0px;
  }


  .topInfo{
    align-items: center;
  }

  .topInfo .mobileOnly{
    font-size: 20px;
  }

  .button{
    left: -20px;
  }

  .playParagraph{
    left: 0;
  }

}

@media(max-width: 450px){
  .button{
    left: -10px;
  }

  .playParagraph{
    left: 0;
  }
}
